---
import About from '../components/About.astro';
import Contact from '../components/Contact.tsx';
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.tsx';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.tsx';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="min-h-screen bg-background">
    <Header client:load />
    <main>
      <Hero />
      <About />
      <Skills />
      <Projects client:load />
      <Experience />
      <Contact client:only="react" />
    </main>
    <Footer />
  </div>
</Layout>
